/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* nav bar css */

.nav-bar{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.nav-header{
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
    margin-left: 34px;
    padding-left: 25px;
}

.nav-items{
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.nav-content{
    display: flex;
    
}

.nav-content li{
    display: inline;
    margin-right: 34px;
    font-weight: 600;
    font-size: 16px;
}

.nav-content li a{
    color: #3A3A3A;
}

.nav-content li:hover a{
    color: #E02C6D;
}


.nav-list{
    text-decoration: none;
}


.nav-icon i{
    margin-right: 34px;
    width: 24px;
    height: 24px;
    color: #3A3A3A;
}

.nav-icon i:hover{
    color: #E02C6D;
}

/* main body css */
.container{
    margin: 30px;
}

/* influencer section css */
.influencer-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
    align-items: center;
    justify-items: center;
    height: 500px;
}
}

.influencer-text{
    width: 585px;
    height: 135px;
    
}

.influencer-text h1{
    width: 582px;
    height: 133px;
    font-weight: bold;
    font-size: 52px;
    margin-top: 16px;
    margin-bottom: 30px;
}

.influencer-text-area{
    margin-bottom: 30px;
    padding-left: 50px;
}

.influencer-text-area:hover h1{
   transform: scale(1.02);
   transition: 0.5s ease-in-out;
   color: #E02C6D;
}

.influencer-text p{
    width: 515px;
    height: 70px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    width: 125px;
    height: 30px;
    background: #E02C6D;
    border-radius: 41px;
    margin-left: 50px;
}

.button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.button a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

.button i{
    color: #FFFFFF;
    margin-left: 5px;
}

.influencer-image{
    display: flex;
}

.influencer-image:hover #circle{
    transform: scale(1.2);
    transition: 1s ease-in-out;
    overflow: hidden;
}

#circle{
    position: absolute;
    width: 470px;
    height: 470px;

}

#camera{
    position: relative;
    top: 25px;
    left: 15px;
    width: 430px;
    height: 410px;

}


/* second section css */
.logo-section{
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.company-logo{
    display: flex;
    margin: 40px;
}

.company-logo img{
    padding: 20px 0;
    margin-right: 60px;
}

.company-logo img:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in;
}


/* third section */
.collection-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection-header h2{
    font-size: 28px;
    color: #3A3A3A;
    margin: 0px;
    
}

.collection-area{
    display: flex;
    margin: 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.collection-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 70px;
    margin-bottom: 30px;
}
.collection{
    width: 310px;
    height: 470px;
    padding: 10px;
    box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}

.collection-banner img{
    width: 300px;
    height: 256px;
    padding: 5px;

}

.collection:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.collection-detail{
    padding: 10px;
}
.collection-title{
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
}

.collection-price{
    font-size: 24px;
    margin: 0;
}

.collection-info{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 10px;

}

.collection-info span{
    margin-left: 10px;
}

.ratings{
    display: flex;
    align-items: center;
    
}

.ratings i{
    margin-right: 5px;
   
    
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.25;
}

.collection-note{
    color: #787885;
    
}

.see-more{
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}

.see-more-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 24px;
    width: 125px;
    height: 30px;
}

.see-more-button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.see-more-button a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #E02C6F;
}

.see-more-button i{
    color: #E02C6F;
}


/* fourth section css */
.fourth-section{
    display: flex;
    justify-content: center;
}
.join-now{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3A3A3A;;
    border-radius: 100px;
    width: 800px;
    height: 130px;
    background: #FFFFFF ;
    margin: 50px;
    padding: 5px;

}

.join-now-headings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.join-now-headings h1{
    font-size: 28px;
    font-weight: bold;
    width: 200px;
    color: #3A3A3A;
    display: flex;
    padding-left: 30px;

}

.join-now-headings:hover h1 {
    transform: scale(1.1);
    transition: 0.3s ease-in;
   
}

.starting-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid #3A3A3A;
    border-radius: 40px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background: #FFFFFF ;
    height: 70px;
}

.starting-area input{
    border: none;
    padding-left: 30px;
    background: none;
    outline: 0px solid transparent;
}

::placeholder { 
    color: #808080;
    opacity: 1; 
  }

.get-started-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    width: 95px;
    height: 20px;
    background:  #3A3A3A;
    border-radius: 40px;
    
}

.get-started-button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
    background:  #E02C6F ;
}

.get-started-button a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color:  #FFFFFF;
}


